@import 'variables';

.shoes-section {
    max-width: 1340px;
    width: 100%;
    margin: 40px auto;
    color: $dark-10;

    .shoes-div {
        text-align: center;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 40px;

        h2 {
            margin-bottom: 10px;
        }
    }


    article {
        display: grid;
        grid-template-columns: repeat(auto-fill, 340px);
        justify-content: center;
    
        
        .card {
            width: 320px;

            .card-image-box {
                background-color: $brand-color2;
                width: 320px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50%;
                            
                    &:hover {
                        transform: scale(1.5);
                        transition: transform .5s;
                    }
                }
            }

            p {
                margin: 10px 0;

                &:last-child {
                    font-size: 20px;
                }
            }

            span {
                color: $brand-color;
                font-size: 12px;
            }
        }
    }


}

